.moviesList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: circle;
  margin-left: 25px;
}

.link {
  display: inline-block;
  font-size: 17px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: rgb(24, 243, 24);
    transform: scale(1.05);
  }
}
